* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: darkblue;
}

body {
    background-color: rgb(247, 196, 247);
}

h1 {
    display: inline-block;   
}

a {
    text-decoration: none;
}

header {
    border-bottom-style: dashed;
    border-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header nav {
    font-size: larger;
    padding: 24px;
    margin-right: 8px;
}

header nav a {
    padding: 12px;
    border: solid;
    border-width: 1px;
    border-color: white;
    margin: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: dashed;
    border-color: white;
    margin: 24px;
    padding: 16px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}
.grad {
    height: 200px;
    align
}

p {
    width: 50%;
    text-align: center;
    margin: 70px;
}

.largest{
    width: 100%;
    display: flex;
}

.image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

figcaption {
    border-style: solid;
    border-color: darkblue;
    margin: 0px 10px;
    padding: 4px;
    text-align: center;
}

figure {
    /*border-style: dashed;
    overflow: hidden;*/
    margin: 10px;
}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#contact {
    align-items: center;
}

#navc {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    flex-grow: 1;
};

footer {
    text-align: center;
}

.workimg {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .workimg {
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .workimg {
        width: 30%
    }
}