* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: darkblue;
}

body {
    background-color: rgb(247, 196, 247);
}

h1 {
    display: inline-block;   
}

a {
    text-decoration: none;
}

header {
    border-bottom-style: dashed;
    border-color: white;
}
header nav {
    float: right;
    font-size: larger;
    color: darkblue;
    padding: 24px;
    margin-right: 8px;
}

header nav a {
    padding: 12px;
    border: solid;
    border-width: 1px;
    border-color: white;
    margin: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-style: dashed;
    border-color: white;
    margin: 24px;
    padding: 16px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}
.grad {
    height: 200px;
    align
}

p {
    width: 50%;
    text-align: center;
}

.largest{
    height: 750px;
}

.image {
    height: 200px;
}

figcaption {
    border-style: solid;
    border-color: darkblue;
    margin: 0px 10px
}
figure {
    border-style: dashed;
    overflow: hidden;
}

#work {
    display: flex;
    flex-wrap: wrap;

}


footer {
    text-align: center;

}